$primary:    rgb(0 104 123);
$secondary:  rgb(75 98 105);

$body-bg-dark: rgb(15 20 22);
$body-secondary-bg-dark: rgb(52 58 60);
$body-tertiary-bg-dark: rgb(0 78 93);

@import "bootstrap/scss/bootstrap";

* {
    font-family: 'Open sans', sans-serif;
}